@model IEnumerable<rest.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #8B4513; 
        background-image: radial-gradient(circle, #D2B48C, #8B4513); 
        color: #fff;
        font-family: Baskerville;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #A0522D; 
    }

       
        .table th {
            background-color: #f2f2f2;
            color: #8B4513;
            font-weight: bold;
            padding: 10px;
            text-align: left;
        }

        
        .table td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .table tbody tr:nth-child(odd) {
            background-color: #8B4513; 
            background-image: radial-gradient(circle, #D2B48C, #8B4513); 
            color: #fff; 
        }

        .table tbody tr:nth-child(even) {
            background-color: #A0522D; 
            background-image: radial-gradient(circle, #D2B48C, #A0522D); 
            color: #fff; 
        }

    .table-wrapper {
        margin-bottom: 50px; 
    }

   
    .btn {
        border: none;
        background-color: #8B4513; 
        color: #fff; 
        border-radius: 20px; 
        font-size: 14px;
        padding: 8px 15px; 
        cursor: pointer;
        margin-right: 5px;
        transition: all 0.3s ease; 
    }

        .btn.delete {
            background-color: #A52A2A; 
        }

        .btn:hover {
            background-color: #D2691E; 
        }

        .btn.delete:hover {
            background-color: #CD5C5C; 
        }
</style>

<h1>MENU</h1>

<p>
    <a href="@Url.Action("Create")" class="btn">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 400px;">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <button class="btn" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Edit</button>
                    <button class="btn" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Details</button>
                    <button class="btn delete" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

